.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  padding: 15px 40px;
  font-size: 1.2rem;
  cursor: pointer;
}